.navbar-custom {
    .container {
        flex-wrap: nowrap !important;

        @media screen and (min-width: 480px) {
            flex-wrap: wrap !important;
        }

        img {
            width: 100px;
        }

        a.btn_ {
            display: flex;
            align-items: center;
        }
    }
}
